/**
 * GLOBAL VARIABLES
*/

/***** SCREEN SIZES *****/
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;

/***** COLOURS *****/
$green: mediumseagreen;
$blue: cornflowerblue;
$white:  white;
$lightblue: aliceblue;